
body{
    font-family: 'Raleway', sans-serif;
}

h1 {
   font-family: 'Quicksand', sans-serif;
}

ol{
    padding: 20px;
    transition: 1s;
}

ol:hover{
 background-color: #eae5df ;   
}

b{
    text-align: center;
    margin: auto;
    border-radius: 20px;
    /* border:solid 2px #000000; */
    /* padding:10px; */
}